@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/index.js"></script>
}

<div class="jumbotron">
    <h1>French Verbs Conjugation</h1>
    <p class="lead">Search the verbs for the conjuations.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="searchbox">
            <input id="searchkey" type="text" placeholder="Search..." required>
        </div>
        <div class="arrow">
            <input id="searchbtn" type="button" value="Search">
        </div>
    </div>
</div>

<div id="results" class="row">
    <div id="present" class="col-md-4"></div>
    <div id="simplepast" class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
